<!doctype html>
<html>
  <head>
    <title>chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src='/scripts/chat.js'></script> -->
    <link rel="stylesheet" href='/stylesheets/chat.css'>
  </head>
  <body>
    <!-- <h1 id='users'>chat users: {{users}}</h1> -->
    <div class='chatid' id={{chatid}}></div>
    <ul id="messages">
      {{#each existing_messages}}
        {{#if from_current_user}}
          <li id='from-user'>{{message}}</li>
        {{else}}
          <li id='from-other'>{{message}}</li>
        {{/if}}
      {{/each}}
    </ul>
    <form action="">
      <input id="m" autocomplete="off" placeholder="enter a message" /><button>Send</button>
    </form>
  </body>
  <script src='/scripts/chat.js'></script>
</html>