{{#if particular_notif}}
<button class='userbutton' type='button' style='padding:10px; border-left: solid 8px #c2272d;' onclick="location.href='/chat/{{chatid}}'" id="{{username}}">
  {{firstname}} {{lastname}} ({{username}})
</button> <br><br><br>
<!-- <div class='notification' style='position:relative; right: -10px; top: 27px; margin:0; z-index: 1; background-color: #c2272d; color: white; border-radius: 20px; width: 10px; height: 10px'></div> -->
{{else}}
<button class='userbutton' type='button' style='padding:10px;' onclick="location.href='/chat/{{chatid}}'" id="{{username}}">
  {{firstname}} {{lastname}} ({{username}})
</button> 
<br><br><br>
{{/if}}