<div class="product">
  <div>
    <a id="productcontent" href="#{{itemname}}"> {{itemname}}</a>
  </div>
  <!-- {{price}}<br> -->
  <!-- Description: {{description}} -->

  <div id="{{itemname}}" class="overlay">
    <div class="popup">
      <h2>  {{itemname}}</h2>
      &#36;&#32; {{price}}
      <a class="close" href="#">&times;</a>
      <div class="popupcontent">
        {{description}}
      </div>
    </div>
  </div>
</div>