  <div class="product" data-toggle="modal" data-target="#item{{id}}">
<!--     <div class="pictureinbox">
      <img id='forsale' src="/uploads/{{picture}}" />
    </div> -->
       <div class="col-s-6 " style="background-image:url('/uploads/{{picture}}');min-height:155px; min-width:199.5px; background-size: cover; background-position: center; "></div> 
    <div class='contentinbox'>
      <p align="left" id="productcontent" >{{itemname}}</p>
      <p align="right" id="productcontent3">${{price}}</p>



    </div>
    
  </div>
  <!-- Modal -->
  <div class="modal fade" id="item{{id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content " id='modal-content-product'>
        <div class="modal-header">
          <div class='star' id='star{{id}}'>&#9829;</div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{itemname}}</h4>
          <h5 class='modal-price'>${{price}}</h5>
          <!-- &#36;&#32;  -->
        </div>

        <div class="modal-body">
          <center>
          <div class='imageresize'>
            <img class= 'model-image' src="/uploads/{{picture}}" />
          </div>
          </center>
          <h6 class="modal-description">{{description}}</h6>
          <div class='post-modal'
            >Posted by: <a href='/profile/{{userid}}'> {{firstname}} {{lastname}} </a><br><a href= 'mailto:{{user}}'> ({{user}})</a>
          </div>
        </div>
        <div style="display:none" class='id' id="{{id}}"></div>

      </div>
      
    </div>
  </div>
  
