<div class="product">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <div>
    <a id="productcontent" href="#{{itemname}}"> {{itemname}}</a>
  </div>

  <div id="{{itemname}}" class="overlay">
    <div class="popup">
      <div class='blankstar' id='blankstar{{id}}'>&#9734;</div>
      <h2>{{itemname}}</h2>
      &#36;&#32; {{price}}
      <a class="close" href="#">&times;</a>
      <div class="popupcontent">
        {{description}}
        <br><br>
        posted by {{firstname}} {{lastname}} <br> ({{user}})
      </div>
      <div style="display:none" class='id' id="{{id}}"></div>
    </div>
  </div>
</div>