<div id='user' style='padding: 10px; margin: 10px; background-color: #ccc'>
<h3> {{firstname}} {{lastname}}</h3>
username: {{username}}
<br> venmo: {{venmo}}
<br> starred: {{starred}}
<br> conversations: {{conversations}}
</div>