<!doctype html>
<html>
  <head>
    <title>{{profilefirstname}} {{profilelastname}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    {{> navbar}}
    <div id='content'>
      <h1> {{profilefirstname}} {{profilelastname}} </h1>
      <ul style="list-style: none">
        <li>Venmo: {{venmo}}</li>
        <li>Email: {{email}}</li>
        <img id = 'profpic' src="/uploads/{{profpic}}" />
      </ul>
      <h1> {{profilefirstname}}&#39;s items</h1>
      {{#if access}}
       <form method="post" action="/uploadpic" enctype="multipart/form-data">
        
        
      <input type = file name= 'profpic'/>
      <button id="submitpic" class="contentbutton" type = 'submit'>submit profpic!</button>&#32;
      </form>
      {{/if}}
      <div id="products">
        {{#each starred}}
          {{> starred_item_partial}}
        {{/each }}
        {{#each unstarred}}
          {{> unstarred_item_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/staritem.js"></script>
  </body>
</html>