<!doctype html>
<html>
  <head>
    <title>{{profilefirstname}} {{profilelastname}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body style='height: 100%'>
    {{> navbar}}

    <div id='profilecontent'>
      <img id = 'profpic' src="/uploads/{{profpic}}" style='max-width: 250px; max-height: 250px'/>
      <img id = 'beaverbubble' src="/images/beaverbubble.png" style='width: 450px; height: 350px'/>
      <div id='profilebox'>
        <h1 id='profilename'> <b>{{profilefirstname}} {{profilelastname}}</b> </h1>
        <b>Venmo:</b> {{venmo}} <br> 
        <b>Email:</b> <a href = 'mailto:{{email}}'>{{email}} </a><br><br>
        {{#if notOwnProfile}}
        <input id='{{email}}' class='msgProf' type="button" value="message {{profilefirstname}}" style='background-color: #F0F0F0; border: none; display: block; margin-top: -13px; margin-bottom: 10px;'/>
        {{/if}}
        <div id='aboutme'>
          <b>About Me:</b> <br>{{aboutme}}
        </div>
      </div>
    </div>

<!--       <h1> {{profilefirstname}} {{profilelastname}} </h1>
      <ul style="list-style: none">
        <li>Venmo: {{venmo}}</li>
        <li>
        <a href = 'mailto:{{email}}'> Email: {{email}} </a>
        </li>
        <img id = 'profpic' src="/uploads/{{profpic}}" />
      </ul> -->
      <div id="profileitems">
      <br>
        <h1> {{profilefirstname}}&#39;s items</h1><br>
        <div id="products">
          {{#each starred}}
            {{> starred_item_partial}}
          {{/each }}
          {{#each unstarred}}
            {{> unstarred_item_partial}}
          {{/each }}
        </div>
      </div>

    <script src="/scripts/staritem.js"></script>
    <script src="/scripts/chatFromProfile.js"></script>
  </body>
  <!-- <div id='padding' style='width: 100%; height:50px;'></div> -->
  {{>about}}
</html>