<!doctype html>
<html>
  <head>
    <title>{{profilefirstname}} {{profilelastname}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    {{> navbar}}
    <div id='content'>
      <h1> {{profilefirstname}} {{profilelastname}} </h1>
      <ul style="list-style: none">
        <li>Venmo: {{venmo}}</li>
        <li>
        <a href = 'mailto:{{email}}'> Email: {{email}} </a>
        </li>
        <img id = 'profpic' src="/uploads/{{profpic}}" />
      </ul>
      <h1> {{profilefirstname}}&#39;s items</h1>
      <div id="products">
        {{#each starred}}
          {{> starred_item_partial}}
        {{/each }}
        {{#each unstarred}}
          {{> unstarred_item_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/staritem.js"></script>
  </body>
</html>